/*Aufgabe: Aufgabe10 - Eisdealer Erweiterung
Name: Michelle Zeiﬂner
Matrikel: 254665
Datum: 22.6.2017
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.*/

* {
	display: block;
	vertical-align: top
}

head {
	display: none;
}

fieldset {
	width: 300px;
}