.black {
	background-color: black;
	color: white;
}

.white {
	background-color: white;
	color: black;
}

div {
	text-align: center;
}
.selected{
	background-color:green;
}
#summe {
	display: none;
	position: absolute;
	top: 2em;
	left: 5em;
	border: black solid 2px;
	z-index: 1;
	white-space: pre;
	background-color: green;
	color: white;
}