/*Aufgabe: Abschlussaufgabe zweites Semester
Name: Michelle Zeiﬂner
Matrikel: 254665
Datum: 12.07.2017
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.*/

div{
	font-size: 1.5em;
	position: fixed;
	top: 1em;
	left: 20%;
	color: white;
}